*{
    margin: 0;padding: 0;box-sizing: border-box;
    transition: 0.3s linear;
}
body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 60vw;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}
#form1{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
#form2{
    display: none;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
#form1  h2,
#form2  h2{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}
#form1 .icons,
#form2 .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#form1 .icons i,
#form2 .icons i{
    width: 45px;
    text-align: center;
    padding: 13px;
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0 12px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
#form1 p,
#form2 p{
    font-size: 16px;
    color: rgb(81, 81, 81);
    font-family: 'poppins', sans-serif;
    margin-top: 25px;
}
#form1 input,
#form2 input{
    width: 300px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(235, 235, 235);
    margin-top: 15px;
}
#form1 button,
#form2 button{
    padding: 10px 30px;
    border-radius: 35px;
    background: linear-gradient(to top left, orangered, rgb(255, 0, 102));
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    color: white;
    border: none;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

#text_con{
    width: 50%;
    height: 100%;
    background: linear-gradient(to top left, rgb(220, 62, 5), rgb(217, 5, 90));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#text_con h1{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: white;
}
#text_con p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: white;
    line-height: 25px;
    margin-top: 15px;
}
#text_con button{
    padding: 8px 30px;
    border-radius: 35px;
    background-color: transparent;
    font-size: 17px;
    font-family: 'poppins', sans-serif;
    color: white;
    border: 1px solid white;
    letter-spacing: 0.5px;
    margin-top: 35px;
}
#text_con button:hover{
    background-color: white;
    color: black;
}